<?php
/**
 * Plugin Name:       {{namespace}}
{{#description}}
 * Description:       {{description}}
{{/description}}
 * Requires at least: 5.8
 * Requires PHP:      7.0
 * Version:           {{version}}
{{#author}}
 * Author:            {{author}}
{{/author}}
{{#license}}
 * License:           {{license}}
{{/license}}
{{#licenseURI}}
 * License URI:       {{{licenseURI}}}
{{/licenseURI}}
 * Text Domain:       {{textdomain}}
 *
 * @package           {{namespace}}
 */

function {{namespaceSnakeCase}}_blocks_init() {

	define('BLOCKS_BUILD', plugin_dir_path( __FILE__ ) . 'build/blocks/');

	$blocks = array_filter(glob(BLOCKS_BUILD . '*'), 'is_dir');

	foreach ( $blocks as $block ) {
		$block_name = str_replace(BLOCKS_BUILD, '', $block);
		register_block_type( __DIR__ . '/build/blocks/' . $block_name );
	}

}
add_action( 'init', '{{namespaceSnakeCase}}_{{slugSnakeCase}}_block_init' );