<?php
/**
 * Plugin Name:       {{namespace}}
 * Description:       A custom blocks starter with tailwind and helper components.
 * Requires at least: 5.8
 * Requires PHP:      7.0
 * Version:           {{version}}
 * Author:            Athletics <tech@athleticsnyc.com> (https://athleticsnyc.com)
{{#license}}
 * License:           {{license}}
{{/license}}
{{#licenseURI}}
 * License URI:       {{{licenseURI}}}
{{/licenseURI}}
 * Text Domain:       {{textdomain}}
 *
 * @package           {{namespace}}
 */

function {{slugSnakeCase}}_blocks_init() {

	define('BLOCKS_BUILD', plugin_dir_path( __FILE__ ) . 'build/blocks/');

	$blocks = array_filter(glob(BLOCKS_BUILD . '*'), 'is_dir');

	foreach ( $blocks as $block ) {
		$block_name = str_replace(BLOCKS_BUILD, '', $block);
		register_block_type( __DIR__ . '/build/blocks/' . $block_name );
	}

}
add_action( 'init', '{{slugSnakeCase}}_blocks_init' );